html {
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 18px;
}


@media (max-width: 900px) {
    html {
        margin-left: 80px;
        margin-right: 80px;
    }
}

@media (pointer:none), (pointer:coarse) {
    html {
        margin-left: 15px;
        margin-right: 15px;
    }
}
