<section>
    <h2>Education</h2>
    <hr>
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <div class="accordion-collapse">
                <div class="accordion-body">
                    <h4>Seneca College</h4>
                    <i style="color: gray;">1750 Finch Ave. East Toronto, Ont. M2J 2X5</i><br>
                    <strong>Cloud Architecture & Administration (CAA)</strong><br>
                    <span class="badge bg-secondary">2024-presnet</span>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-collapse">
                <div class="accordion-body">
                    <h4>York University</h4>
                    <i style="color: gray;">4700 Keele St, Toronto, ON M3J 1P3 </i><br>
                    <strong>Bachelor degree of Computer Science</strong><br>
                    <span class="badge bg-secondary">2019-2023</span>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-collapse">
                <div class="accordion-body">
                    <h4>Algonquin College</h4>
                    <i style="color: gray;">1385 Woodroffe Ave, Ottawa, ON K2G 1V8
                    </i><br>
                    <strong>Diploma Computer Programmer with coop</strong><br>
                    <span class="badge bg-secondary">2015-2017</span>
                </div>
            </div>
        </div>
    </div>
</section>