<section>
    <h3>Work Experience</h3>
    <hr>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    <span>Paphus Solutions Inc <span class="badge bg-secondary">2017 - 2023</span></span>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <h5>Paphus Solutions Inc <span class="badge bg-primary">Full Stack Developer</span></h5>
                    <a class="badge text-bg-info" href="https://Paphussolutions.com">Paphus Solutions
                        Inc.</a><br>
                    <a class="badge text-bg-info" href="https://Botlibre.com">BotLibre
                        AI</a>
                    <ul>
                        <li>
                            Developed modules based on design specifications and project delivery plans,
                            using
                            various programming languages such as Java, C#, Python, C, C++, HTML, XML, JSON,
                            CSS,
                            JavaScript, and jQuery.
                        </li>
                        <li>Conducted troubleshooting, debugging, and root cause analysis to fix defects and
                            ensure the
                            smooth
                            operation of the software.</li>

                        <li>Designed and implemented features using TensorFlow for image, video, audio, and
                            object
                            recognition,
                            applying artificial intelligence (AI) techniques to build intelligent systems.
                        </li>
                        <li>Adhered to best practices by conducting initial research, project planning,
                            product complied
                            with
                            coding conventions.</li>
                        <li>Documented client requirements and provided high-level designs for proposed
                            solutions that
                            effectively resolved problems and improved performance, using architectural
                            patterns such as
                            Model-View-Controller (MVC) and Data Access Object (DAO) to organize code and
                            make it more
                            maintainable.
                        </li>
                        <li>Built a Python Flask framework feature that enabled users to easily upload files
                            such as
                            images
                            and
                            audios, train them using TensorFlow, and test them through a user-friendly web
                            application
                            interface.</li>
                        <li>Worked with backend libraries such as Flask in Python and Servlet in Java to
                            create
                            dynamic web applications that interacted with databases such as SQL Server,
                            MySQL, and
                            PostgreSQL.
                        </li>
                        <li>Applied AI techniques to TensorFlow to develop intelligent systems such as image
                            recognition, image object detection, audio recognition, text classification, and
                            ChatBots.</li>

                        <p>I've developed a Python and a PHP SDK that serves as a ported version of the Bot
                            Libre's
                            Java SDK. Both SDKs enables seamless integration with a PHP and Python
                            application, offering
                            the capability to connect to Bot Libre, bots, send messages, and perform bot
                            training and
                            configuration tasks. It provides developers with an efficient way to work with
                            the
                            functionalities
                            offered by the original Java SDK.</p>
                        To track my progress, please visit my GitHub work account <a
                            href="https://github.com/omarbajunaid">
                            <i class="fa-brands fa-square-github">github</i></a>
                    </ul>
                    <p>Overall, I have a strong background in software development and AI, with a diverse
                        set
                        of skills in programming languages, backend libraries, databases, and architectural
                        patterns. I am passionate about building intelligent systems that can make a
                        positive
                        impact on people's lives, and I am excited to bring my skills and experience to a
                        new
                        role.</p>
                </div>
            </div>
        </div>
    </div>
</section>