<footer>
    <a href="https://www.linkedin.com/in/omarbajunaid/"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://twitter.com/0mar41i"><i class="fa-brands fa-square-twitter"></i></a>
    <div>
        <p>Copyright © 2024 Omar BaGunaid. All rights reserved.</p>
    </div>
</footer>
<style>
    footer {
        margin-top: 30px;
        padding: 10px;
        text-align: center;

        a {
            padding: 15px;
        }

        i {
            font-size: 40px;
        }

        p {
            font-size: 14px;
        }
    }
</style>